@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Muppet Database</h1>
    <p class="lead">Your one-stop source for all the information about Muppets that you absolutely, positively, don't need...but still have to have.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Muppets</h2>
        <p>
            Brows your favorite Muppets. See who their performers have been and find out where you can see them in action.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Performers</h2>
        <p>Peek under the hood and see the faces behind some your favorite characters.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Movies and Shows</h2>
        <p>Find all your favorite movies and tv shows starring the most lovable muppets.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>